/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 1px 8px;
    flex-wrap: wrap;
    padding-bottom: 8px;
}

/* Home Section */
#home{
height: 500px;
flex-direction: column;
padding: 1px 77px;

}

#home::before{
    height: 600px;

}

#home p{
    font-size: 16px;

}

/* Services section */
#services{
flex-direction: column;
flex-wrap: wrap;


}

/* #services .box{

} */



/* Clients section */
#clients{
overflow: hidden;
flex-wrap: wrap;
flex-direction: column;

}

#clients img {
    height: 70px;
    align-items: center;
    padding: 4px;
}


/* Contact us section */
#contact-box form{
    width: 80%;


}
.h-primary{
    font-size: 25px;
}
.btn{
    font-size: 13px;
    padding: 4px 12px;
}



/* footer section */