
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0px;
}

/* Navigation Bar: logo and Image */
#logo{
    margin: 10px 11px;
}

#logo img{
    height: 90px; 
    margin: 3px 5px;
}

/* Navigation Bar: List Styling */


#navbar ul{
    display: flex;

}

#navbar::before{
    content:"";

    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home sectionS */
#home{
    display: flex;
    height: 400px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";

    background: url(bg.jpg);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.90;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Fasthand', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;;
}

/* Services Section */
#services{
    margin: 10px;
    display: flex;
}

#services .box{
    border: 2px solid black;
    padding: 10px;
    margin: 25px 15px;
    border-radius: 23px;
    background-color: lightgray;
    margin-bottom: 20px;
    
}

#services .box img{
    height: 150px;
    width: 220px;
    display: block;
    margin: auto;

}
.services-container{
    margin-top: 200px;

}

/* Margin:auto will work when display is block first then and set something of height and width then margin auto will works */
/* utility Class */
.h-primary{
    font-size: 2.8rem;
    /* rem is equal to relative to HTML  */
    padding: 12px;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    /* btn is also a utility class.....for complete btn it has to be given padding because the padding they have is very different */
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 12px
}

.center{
    text-align: center;
}

#clients-section {
    height: 344px;
    position: relative;
    margin: 10px;
    padding: 0px;
}

#clients-section::before {
    
    content: "";
    position: absolute;
    background: url(bg1.jpg);
    background-size: cover;
        width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;


}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

#clients-item {
    padding: 50px;
}

#clients img {
    height: 130px;
    align-items: center;
}

/* Contact Section */
#contact{
    position: relative;

}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(contact.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: bottom;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contacy-box label{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;

}